/node_modules
/public/hot
/public/storage
/public/build
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.php_cs.cache
.php-cs-fixer.cache
_ide_helper.php
